.App {
  text-align: center;
  background-color:rgb(0, 98, 125);
  
}

.phoneSize{
  height: 720px;
  width: 370px;
  border-width: 1px;
  border-style:solid;
  border-color:black;
  background-color: #F2F2F2;
  z-index:0;
  border-radius: 16px;
}

.tabButton{
  height: 48px;
  width:90px;
  border-style:none;
  background-color: #F2F2F2;
  color: #2c323a;
  font-weight:400;
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif;
  font-size:15px;
  line-height:18px;
  letter-spacing:0.5%;
}

.tabButtonActive{
  height: 48px;
  width:90px;
  border-style:none;
  color: white;
  background-color: #335146;
  border-radius:12px;
}

.tabs{
  position: relative;
  top:-130px;
  left:-170px;
}

.barTitle{
  position: absolute;
  text-align:left;
  top:-5px;
  left: 100px;
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:32px;
  line-height:100%;
  letter-spacing:0%;
  color: #2c323a;
}

.logo{
  position: relative;
  left:-310px;
  top:-715px;
  height:70px;
  width:70px;
  border-radius:50%;
}

.bar{
  z-index:2;
}

.pageStandIn{
  position:relative;
  top: -700px;
  left: -170px;
}

.scheduleDisplay{
  position:relative;
  top: -700px;
  left: -170px; 
}


.singleBlock{
  width:100px;
  z-index:4;
  background-color:red;
  border-style:solid;
}