.App {
  text-align: center;
  background-color:#F2F2F2;;
  width: 100vw;
  height: 100vh;
  z-index:5;
}

html, body {
  margin: 0;
  padding: 0;
}

.tabs{
 position:relative;
 top:-70px;

}

.bar{
  z-index: 1;
  position: relative;
  height: 90px;
  width: 100%;
}

.tabButton{
  height: 48px;
  width:300px;
  border-style:solid;
  border-width:2px;
  border-color:#8caea1;
  border-radius:12px;
  background-color: #F2F2F2;
  color: #2c323a;
  font-weight:400;
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif;
  font-size:15px;
  line-height:18px;
  letter-spacing:0.5%;
}

.dateTitle{
  position: relative;
  margin:30;
  top: -80px;
  text-align:center;
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size:28px;
  line-height:100%;
  letter-spacing:0%;
  color: #2c323a;
}

.tabButtonActive{
  height: 48px;
  width:300px;
  border-style:none;
  color: white;
  background-color: #335146;
  border-radius:12px;
}

.barTitle{
  position: relative;
  margin:0;
  top: 40px;
  text-align:center;
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:32px;
  line-height:100%;
  letter-spacing:0%;
  color: #2c323a;
}

.logo{
  position: relative;
  top: -10px;
  left: 200px;
  height:100px;
  width:100px;
  border-radius:50%;
}

.pageStandIn{
  position:relative;
}

.scheduleDisplay{
  position:relative;
  display: flex;
  flex-direction: column; 
  align-items: center;

}


.singleBlock{
  position: relative;
  top:-40px;
  width: 300px;
  
  display:flex;
  align-items: center;
  justify-content: center;
  
  z-index:4;
  border-style:solid;
  border-color: #2c323a;

  color: #2c323a;
  font-weight:400;
  font-family: 'Helevetica Neue', Helvetica, Arial, sans-serif;
  font-size:15px;
  line-height:18px;
  letter-spacing:0.5%;

  border-style:solid;
  border-width:1px;
  border-color:#2c323a;
  border-radius:12px;

  margin: 5px 0;
  padding: 2px 10px;
}

.blockTitle {
  font-weight: bold;
  display:flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 10px;
}

.blockTimes{
  position:absolute;
  top:5px;
  right:10px;
}

